body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.rounded-divider {
    border-top: 4px solid #bbb;
    border-radius: 5px;
    width: 40%;
    margin: auto;

}

.logo-vol-comapny{
    width: 80px;
    border-radius: 50%;
    height: 80px;
}

.logo-vol-comapny  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.vol-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    border: 2px solid #bbb;
    margin: 1rem;
    border-radius: 5px;
    max-width: 859px;

}

.vol-info{
    display: flex;
    gap: 1rem;
    

}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.vol-duration{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.vols-info{
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    grid-column: span 2;    
    margin: 0.5rem; 
}

.vol-info-heure-depart , .vol-info-heure-arrive{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;


}


.vol-reservation{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}


button{
    all: unset;
}
.vol-reservation a ,button{
    text-decoration: none;
    color: white;
    background-color: rgb(58, 58, 252);
    padding: 0.5rem;
    border-radius: 5px;
    /* min-width: 100px; */
    text-align: center;
    margin: 0.5rem;
    grid-row: span 2;

}


.vol-reservation h3{
    grid-row: span 4;
}

.vol-reservation p{
    text-decoration: none;
    color: #5a5555;
    text-align: center;
    font-size: 0.9rem;
    grid-row: span 1;
}


.reservation-details-container{
    display: grid;
    grid-template-columns: 2fr 1fr ; 
    gap: 2rem;
}

.your-booking-header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.your-booking-header p{
    margin: 0.4rem;
    /* padding: 0.1rem; */
}

.your-booking-total{
    display: flex;
    justify-content: space-between;
    justify-items: center;

}

.your-booking{
    border: 2px solid #bbb;
    border-radius: 5px;
    padding: 1rem;

}
.booking-details  > .passnger{
    display: flex;
    justify-content: space-between;
}

.confirmation{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;

}

